@model OnlineShoppingStore.ViewModels.ReadOrderViewModel


@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Order Details</h2>

<div>

    
    <dl class="dl-horizontal">

        <div class="card">
            <div class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.Orders.OrderId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Orders.OrderId)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                   Order status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Orders.OrderStatus)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.Member.MemberId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Member.MemberId)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                    Firstname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Member.FristName)
                </dd>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <dt>
                    Lastname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Member.LastName)
                </dd>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <dt>
                    Email 
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Member.EmailId)
                </dd>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <dt>
                   Country
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShippingDetails.Country)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                    State
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShippingDetails.State)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                    Shipping city
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShippingDetails.City)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                    Shipping address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShippingDetails.Adress)
                </dd>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <dt>
                    Amount paid
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShippingDetails.AmountPaid)
                </dd>
            </div>
        </div>


     

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ProductId</th>
                            <th>Quantity</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ProductId</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.OrderProducts)
                        {

                            <tr>

                                <td>@item.ProductId</td>
                                <td>@item.Quantity</td>
                                <td>

                                    @Html.ActionLink("Edit", "ProductEdit", new { productId = item.ProductId })
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>


        <dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Orders")
</p>
