@using OnlineShoppingStore.Models.Home;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SurfShop</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />

    
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="~/Home/Index">Pepe <span>Surf Store</span></a></h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="border-radius:initial; align-content:center" href="@Url.Action("Login","Home")">Admin</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                            </svg>Cart<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["cart"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    <li>
                                        <i>@item.Product.ProductName.Substring(0, 14) (@item.Quantity) <a href="@Url.Action("RemoveFromCart", "Home", new { productId=item.Product.ProductId})" class="fa fa-times"></a></i>
                                    </li>
                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Checkout","Home")">Checkout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="nav-menus">
                    <ul class="nav nav-pills">
                        <li id="HomeButton" class="active"><a style="border-radius:initial;" href="@Url.Action("Index","Home")">Home</a></li>
                        <li id="LocationButton"><a style="border-radius:initial;" href="@Url.Action("Location","Home")">Location</a></li>
                        <li id="AboutButton"><a style="border-radius:initial;" href="@Url.Action("About","Home")">About</a></li>
                    </ul>
                </div>
            </div>

        </div>


        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">
                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - OnlineShopingStore. All right reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unstyled list-social">
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i>  </a></li>
                            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i>  </a></li>
                            <li><a href="https://www.google.com/" target="_blank"><i class="fa fa-google-plus"></i>  </a></li>

                        </ul>
                    </div>

                </div>
            </div>

        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
