@model OnlineShoppingStore.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="width:100%" src="../Images/img11.jpg" alt="First slide">
            <div class="carousel-caption">
                <h1 style="font-size: 1.5em;">Only the best products</h1>
                <p>Buy only the best products to have the best performance during sports.</p>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%" src="../Images/img22.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h1 style="font-size: 1.5em;">Great customer service</h1>
                <p>We ensure that every customer has a great experience with our company.</p>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%" src="../Images/img33.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h1 style="font-size: 1.5em;">World's most valuable brands</h1>
                <p>Thanks to the collaboration of our shop with leading brands in the world of sport.</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>

<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>

<form method="post">
    <div class="olSearch fr">
        <input type="text" name="search" placeholder="Enter Keyword" class="inputComn form-control" />
        <div class="searchIcon">
            <button type="submit" class="searchBtn">
                <img src="~/Images/searchIcon.png" />
            </button>
        </div>
    </div>
</form>




<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products <small> trending products</small></h2>
        </div>
    </div>
</div>




<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
      
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 " >
            <a class="thumbnail product-item" style="height:400px" href="@Url.Action("ProductDetails", "Home",new { id = item.ProductId })">

                <img class="img-responsive" title="Click to View Product detail" 
                     style="cursor:pointer;height:220px;width:100%"
                     src="~/ProductImg/@item.ProductImage" />
                     

                <div class="caption">

                    @if (item.ProductName.Length <= 26)
                    {
                        <h5>@item.ProductName.Substring(0, item.ProductName.Length)</h5>

                    }
                    else
                    {
                        <h5>@item.ProductName.Substring(0, 26)</h5>
                    }

                    
                    <p>@item.Price€</p>
                    <p>
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                            {
                            <button type="submit" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto;">Add to cart</button>
                            }  
                    }
                    else
                    {
                        <p>NotAvailable</p>
                    }


                        @if (item.IsFeatured == true)
                        {
                            <div class="product-item-badge">
                                <p>New</p>
                            </div>
                        }
                        else
                        {

                        }

                    </div>
                </a>
                </div>         
        }



</div>
<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }))
</div>